@model UsuarioModel
@{
	ViewData["Title"] = "Entrar";
}

<div class="entrar-container">
	<h3>Entrar</h3>

	<form class="row g-3" asp-controller="Login" asp-action="Entrar" method="post">
		<div class="mb-3">
			<label for="loginInput" class="form-label">Login</label>
			<input type="text" class="form-control" id="loginInput" required>
		</div>
		<div class="mb-3">
			<label for="senhaInput" class="form-label">Senha</label>
			<input type="password" class="form-control" id="senhaInput" required>
		</div>

		<button class="btn btn-primary" type="submit">Entrar</button>
		<a class="btn btn-secondary" role="button" asp-controller="Login" asp-action="Index">Voltar</a>
	</form>
</div>
