@{
	ViewData["Title"] = "Login";
}

<div class="login-container">
	<h3>Conta</h3>

	<a class="btn btn-primary" role="button" asp-controller="Login" asp-action="Entrar">Entrar</a>

	<a class="btn btn-primary" role="button" asp-controller="Login" asp-action="Cadastrar">Cadastrar</a>
</div>
