
@model UsuarioModel
@{
	ViewData["Title"] = "Cadastrar";
}

<div class="cadastrar-container">
	<h3>Cadastrar</h3>

	<form class="row g-3" asp-controller="Login" asp-action="Cadastrar" method="post">
		<div class="mb-3">
			<label for="nomeInput" class="form-label">Nome</label>
			<input asp-for="Nome" type="text" class="form-control" id="nomeInput" required>
		</div>

		<div class="mb-3">
			<label for="emailInput" class="form-label">E-mail</label>
			<input asp-for="Email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
		</div>

		<div class="mb-3">
			<label for="telefoneInput" class="form-label">Telefone</label>
			<input asp-for="Telefone" type="text" class="form-control" id="telefoneInput" required>
		</div>

		<div class="mb-3">
			<label for="cpfInput" class="form-label">CPF</label>
			<input asp-for="Cpf" type="text" class="form-control" id="cpfInput" required>
		</div>

		<div class="mb-3">
			<label for="fotoInput" class="form-label">Foto do documento com CPF</label>
			<input asp-for="FotoDocumento" type="file" class="form-control" id="fotoInput" required>
		</div>

		<div class="mb-3">
			<label for="cidadeInput" class="form-label">Cidade</label>
			<input asp-for="Cidade" type="text" class="form-control" id="cidadeInput" required>
		</div>

		<div class="mb-3">
			<label for="dataNascimentoInput" class="form-label">Data de nascimento</label>
			<input asp-for="DataNascimento" type="date" class="form-control" id="dataNascimentoInput" required>
		</div>

		<div class="mb-3">
			<label for="senhaInput" class="form-label">Senha</label>
			<input asp-for="Senha" type="password" class="form-control" id="senhaInput" required>
		</div>

		<div class="mb-3">
			<label for="repetirSenhaInput" class="form-label">Repetir senha</label>
			<input type="password" class="form-control" id="repetirSenhaInput" required>
		</div>

		<button class="btn btn-primary" type="submit">Entrar</button>
		<a class="btn btn-secondary" role="button" asp-controller="Login" asp-action="Index">Voltar</a>
	</form>
</div>


